{layout '@layoutSign.latte'}

{block #title}Přihlášení{/block}

{block #content}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Nette</b> Admin</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Přihlaste se pro vstup do administrace</p>

            {control signInForm}

        </div>
    </div>
</div>
{/block}
