{form form}
<div class="input-group mb-3">
    {input email, class: 'form-control', placeholder: 'E-mail'}
    <div class="input-group-text">
        <span class="bi bi-envelope"></span>
    </div>
</div>

<div class="d-flex justify-content-end">
    {input submit, class: 'btn btn-primary'}
</div>
{/form}
