{varType Nette\Security\User $user}

{layout '../Base/@layout.latte'}

{block #title}Web{/block}

{block #head}{asset? 'web/main.js'}{/block}

{block #body}
    <h1>{ifset #pageTitle}{include #pageTitle}{/ifset}</h1>

    {include #content}
{/block}
