{* Zrcadlí assets/admin/editor/blocks/Image.tsx *}
<div class="container mx-auto px-4">
    <img n:if="!empty($props['src'])" src="{$props['src']}" alt="{$props['alt'] ?? ''}" class="rounded-xl shadow-lg h-auto max-w-full" style="width: {$props['width'] ?? 100}%">
</div>
