{* Zrcadlí assets/admin/editor/blocks/Image.tsx *}
<img n:if="!empty($props['src'])" src="{$props['src']}" alt="{$props['alt'] ?? ''}" class="img-fluid rounded shadow" style="width: {$props['width'] ?? 100}%">
