{templateType App\Presentation\Modules\Web\Page\PageDefaultTemplate}

{block #title}{$browserTitle}{/block}

{block #pageTitle}{$page->title}{/block}

{block #content}
    <div class="container py-6">
        {$contentHtml|noescape}
    </div>
{/block}
