{block #pageTitle}Obecné nastavení{/block}

{block #content}

<div class="card">
    <div class="card-header">
        <h3 class="card-title mb-0">Obecné nastavení</h3>
    </div>
    <div class="card-body">
        {control generalForm}
    </div>
</div>

{/block}
