{form form}
<div class="mb-3">
    <label class="form-label">{label type /}</label>
    {input type, class: 'form-select'}
    {inputError type}
</div>
<div class="mb-3">
    <label class="form-label">{label title /}</label>
    {input title, class: 'form-control'}
    {inputError title}
</div>
<div class="mb-3">
    <label class="form-label">{label message /}</label>
    {input message, class: 'form-control'}
    {inputError message}
</div>
{input submit, class: 'btn btn-primary'}
{/form}
