{block #pageTitle}Notifikace{/block}

{block #content}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="card-title mb-0">Notifikace</h3>
        <a n:href="compose" class="btn btn-sm btn-primary ms-auto">
            <i class="bi bi-megaphone-fill"></i> Nová notifikace
        </a>
    </div>
    <div class="card-body p-0">
        {control notificationGrid}
    </div>
</div>

{/block}
