{block #pageTitle}Dashboard{/block}

{block #content}
    <div class="card">
        <div class="card-body">
            <p class="mb-0">Tohle je tělo úvodní stránky Admin modulu.</p>
        </div>
    </div>
{/block}
