# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping:
	    Web: App\Presentation\Modules\Web\**Presenter
	    Admin: App\Presentation\Modules\Admin\**Presenter
	    Api: App\Presentation\Modules\Api\**Controller

extensions:
    api: Apitte\Core\DI\ApiExtension
    scheduler: Contributte\Scheduler\DI\SchedulerExtension
    translation: Contributte\Translation\DI\TranslationExtension

latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			type: vite


di:
	export:
		parameters: no
		tags: no

session:
	autoStart: smart
	cookieHttponly: true
	cookieSamesite: Lax
	debugger: false
	expiration: 1 year
	name: SID
	useCookies: true
	useOnlyCookies: true
	useStrictMode: true

api:
    debug: %debugMode%
    catchException: true
    plugins:
        Apitte\Core\DI\Plugin\CoreDecoratorPlugin:

scheduler:
    path: '%tempDir%/scheduler'
    jobs: []

translation:
    locales:
        whitelist: [cs_CZ]
        default: cs_CZ
        fallback: [cs_CZ]
    dirs:
        - %appDir%/Lang
    returnOriginalMessage: true
