# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping:
	    Web: App\Presentation\Modules\Web\**Presenter
	    Admin: App\Presentation\Modules\Admin\**Presenter
	    Api: App\Presentation\Modules\Api\**Controller

extensions:
    api: Apitte\Core\DI\ApiExtension

latte:
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			type: vite


di:
	export:
		parameters: no
		tags: no

session:
	autoStart: smart
	cookieHttponly: true
	cookieSamesite: Lax
	debugger: false
	expiration: 1 year
	name: SID
	useCookies: true
	useOnlyCookies: true
	useStrictMode: true

api:
    debug: %debugMode%
    catchException: true
