services:
	- App\Core\RouterFactory::createRouter

	# Latte ===================
	latte.latteFactory:
	    setup:
	        - addFilter(neon, App\Model\Latte\Filters::neon)
	        - addFilter(json, App\Model\Latte\Filters::json)

	latte.templateFactory:
	    class: App\Model\Latte\TemplateFactory

	# Security ================
	security.passwords: App\Model\Security\Passwords
	security.user: App\Model\Security\SecurityUser
	security.authenticator: App\Model\Security\Authenticator\UserAuthenticator
	security.authorizator: App\Model\Security\Authorizator\StaticAuthorizator


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
			- *Mapper
	-	in: %appDir%/Command
		classes:
			- *Command
	-	in: %appDir%/Presentation/Modules/Api
		classes:
			- *Controller

decorator:
    App\Core\Database\ExplorerRepository:
        setup:
            - injectBaseDependencies
