{block #pageTitle}Nový e-mail{/block}

{block #content}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="card-title mb-0">Nový e-mail</h3>
        <a n:href="list" class="btn btn-sm btn-secondary">
            <i class="bi bi-arrow-left"></i> Zpět na seznam
        </a>
    </div>
    <div class="card-body">
        {control composeEmailForm}
    </div>
</div>

{/block}
