{block #pageTitle}Fronta e-mailů{/block}

{block #content}

<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="card-title mb-0">Fronta e-mailů</h3>
        <a n:href="list" class="btn btn-sm btn-secondary ms-auto">
            <i class="bi bi-send-fill"></i> Odeslané e-maily
        </a>
    </div>
    <div class="card-body p-0">
        {control mailQueueGrid}
    </div>
</div>

{/block}
